.app-container {
  background-color: black;
  color: white;
  text-align: center;
}

.num,
.zero {
  background-color: darkgrey;
}

.symbol {
  background-color: orange;
}

.extra {
  background-color: lightgrey;
}

.zero {
  text-align: start;
}

.button {
  border-radius: 40px;
}

.display {
    text-align: end;
}
